@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
  }
  
  .main {
      width: 100vw;
      height: 100vh;
      background: #201b2c;
      background-image: url(../assets/bg.gif);
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-login{
    width: 200%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: rgba(79, 79, 79, 0.9);
    border-radius: 20px 20px;
    margin: 120px;
    
  
  }

  .card-login > h1 {
    color: rgb(4, 4, 155);
    font-weight: 800;
    margin: 0;
    font-size: 50px;
    
  }

  .mb-3 {
    width: 97%;
    color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    font-size: 70px;
    height: 45px;
    font-weight: 900;
    
  }

  .textfield > input {
    text-align: center;
    width: 150%;
    border: none;
    border-radius: 10px;
    pad: 15px;
    height: 50px;
    outline: none;    
  }

 

  .textfield > input::placeholder {
    color: gray;
    text-align: center;
    font-size: 20px;
    
  }

  .botoes {
    width: 91%;
    padding: 16px 0px;
    margin: 20px;
    border: none;
    border-radius: 12px;
    height: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    background-color: rgb(68, 252, 252);
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px blue;
  }

  .image-login{
    width: 40vw;
    margin: 90px;
  }
  button:hover{
    background-color: rgb(0,191,255);
    cursor: pointer;
}